<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS0pFSsCi605EPmSaNpBg9Z3vFaLpY9jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>217346028104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hola.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>holachat-3d497</string>
	<key>STORAGE_BUCKET</key>
	<string>holachat-3d497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217346028104:ios:43d4447275a030c64c9e7d</string>
</dict>
</plist>